<div class="main-container">
  <!-- <app-tabs></app-tabs> -->
  <!-- <nav>
    <ul class="nav-bar">
      <li><a routerLink="/login" routerLinkActive="active">Login</a></li>
      <li><a routerLink="/register" routerLinkActive="active">Register</a></li>
      <li><a routerLink="/upload" routerLinkActive="active">Upload</a></li>
    </ul>
  </nav> -->

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Demo Company</a>

    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a routerLink="/upload" class="nav-link" routerLinkActive="active"
            >Upload</a
          >
        </li>
        <li class="nav-item">
          <a
            routerLink="/login"
            class="nav-link"
            *ngIf="!isAuthenticated"
            routerLinkActive="active"
            (click)="abc.login('')"
            >Login(Okta)</a
          >
        </li>
        <li class="nav-item">
          <a routerLink="/dashboard" class="nav-link" routerLinkActive="active"
            >Dashboard</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" *ngIf="isAuthenticated" (click)="logout()"
            >Logout</a
          >
        </li>
      </ul>
    </div>
  </nav>

  <!-- The routed views render in the <router-outlet>-->
  <router-outlet></router-outlet>
</div>
